.component-Stats {
    width: 90%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-flow: column nowrap;
}

.component-Stats-title {
    color: white;
    margin-bottom: 5px;
    font-size: 2em;
    width: 90%;
}

.component-Stats-box {
    width: 100%;
    border-radius: 6px;
    background-color: white;
}

.component-Stats-box-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.component-Stats-box-header-title {
    color: var(--red);
    margin: 25px;
    font-size: 1.5em;
}

.component-Stats-box-header-selector {
    color: black;
    margin: 25px;
    font-size: 1em;
}

.component-Stats-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: row wrap;
    margin-bottom: 50px;
}

.component-Stats-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    margin: 50px;
}

.component-Stats-element-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column nowrap;
    font-size: 2em;
}

/* Text being to big for the screen -> so we reduce font-size */
@media (max-width: 300px) {
    .component-Stats-element-texts {
        font-size: 1.5em;
    }
}